<!DOCTYPE html>
<html>

@{
    string val = "";
    if (Request.Cookies["Username"] != null)
    {
        val = Request.Cookies["Username"].Value;
    } 
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("eSportsTracker", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Players", "Index", "Players")</li>
                    <li>@Html.ActionLink("Teams", "Index", "Teams")</li>
                    <li>@Html.ActionLink("Video Games", "Index", "VideoGames")</li>
                    <li>@Html.ActionLink("Organizations", "Index", "Organizations")</li>
                    <li>@Html.ActionLink("Matches","Index","Matches")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>

                <div class="navbar-brand" style="float:right">@val</div>
            </div>
    <div style="color:red">@ViewBag.Error</div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @{  if (val.Equals("")) 
                {
                @Html.ActionLink("Administrator Log In", "LogIn", "Users")
                }
                else
                {
                @Html.ActionLink("Create Admin", "Create", "Users")
                <div style="float:right">@Html.ActionLink("Log Out", "LogOut", "Users")</div>
                }
            }
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
