@model PagedList.IPagedList<eSportsTracker.Models.PlayerWithWin>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Players";
}

<h2>Players</h2>

<p>
    @if (Session["LoggedIn"] != null)
    {
        @Html.ActionLink("Create New", "Create")}
</p>

<form>
    <p>
        Search: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <tr>
        @{if (Session["LoggedIn"] != null)
            {
                <th>
                    PlayerID
                </th>
            }}
        <th>
            @Html.ActionLink("Handle", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            Date of Birth
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            @Html.ActionLink("Wins", "Index", new { sortOrder = "wins" })
        </th>
        <th>
            Games Played
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @{if (Session["LoggedIn"] != null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.PlayerID)
                    </td>
                }}
            <td>
                @Html.DisplayFor(modelItem => item.Handle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wins)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GamesPlayed)
            </td>
            <td>
                @{
                    if (Session["LoggedIn"] != null)
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.PlayerID }) <text>|</text>
                        @Html.ActionLink("Details", "Details", new { id = item.PlayerID }) <text>|</text>
                        @Html.ActionLink("Delete", "Delete", new { id = item.PlayerID })
                    }

                }
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<br />
@Html.ActionLink("Players By Game", "PlayersByGame", new { })
