@model PagedList.IPagedList<eSportsTracker.Models.VideoGame>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (Session["LoggedIn"] != null)
    {
        @Html.ActionLink("Create New", "Create")}
</p>
<table class="table">
    <tr>
        @{if (Session["LoggedIn"] != null)
            {
                <th>
                    GameID
                </th>
            }}
        <th>
            Name
        </th>
        <th>
            Release Date
        </th>
        <th>
            Genre
        </th>
        <th>
            Developer
        </th>
        <th>
            {Publisher
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @{if (Session["LoggedIn"] != null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.GameID)
                    </td>
                }}
            <td>
                @Html.DisplayFor(modelItem => item.GameName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Released)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Developer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                @{ if (Session["LoggedIn"] != null)
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.GameID }) <text>|</text>
                        @Html.ActionLink("Details", "Details", new { id = item.GameID }) <text>|</text>
                        @Html.ActionLink("Delete", "Delete", new { id = item.GameID })
                    }
                }
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
