@model PagedList.IPagedList<eSportsTracker.Models.Team>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (Session["LoggedIn"] != null)
    {
        @Html.ActionLink("Create New", "Create")}
</p>
<table class="table">
    <tr>
        @{if (Session["LoggedIn"] != null)
            {
                <th>
                    TeamID
                </th>
            }}
        <th>
            Name
        </th>
        <th>
            Count of Players
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @{if (Session["LoggedIn"] != null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.TeamID)
                    </td>
                }}
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumPlayers)
            </td>
            <td>
                @{
                    if (Session["LoggedIn"] != null)
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.TeamID }) <text>|</text>
                        @Html.ActionLink("Details", "Details", new { id = item.TeamID }) <text>|</text>
                        @Html.ActionLink("Delete", "Delete", new { id = item.TeamID })
                    }

                }
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))