@model IQueryable<eSportsTracker.Models.getStatsPair_Result>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            Match time:
        </dt>
        <dd>
            @ViewBag.time
        </dd>
    </dl>
</div>
<div>
    <dl class="dl-horizontal">
        <dt>
            Winner:
        </dt>
        <dd>
            @ViewBag.winnerN
        </dd>
    </dl>
    @foreach (var m in Model)
    {
        if (m.Player.Equals(ViewBag.winnerN))
        {
            <p>
                @m.Name <text>: </text> @m.ValueOf
            </p>
        }
    }
    @if (Session["LoggedIn"] != null)
    {
        <h>
            Add statistic:
        </h>
        <form>
            <p>
                name: <input type="text" name="nameStringW">
            </p>
            <p>
                value: <input type="text" name="valueStringW">
            </p>
            <input type="submit" value="Add">
        </form>
    }


</div>
<div>
    <dl class="dl-horizontal">
        <dt>
            Loser:
        </dt>
        <dd>
            @ViewBag.loserN
        </dd>
    </dl>
    @foreach (var m in Model)
    {
        if (m.Player.Equals(ViewBag.loserN))
        {
            <p>
                @m.Name <text>: </text> @m.ValueOf
            </p>
        }
    }
    @if (Session["LoggedIn"] != null)
    {
        <h>
            Add statistic:
        </h>
        <form>
            <p>
                name: <input type="text" name="nameStringL">
            </p>
            <p>
                value: <input type="text" name="valueStringL">
            </p>
            <input type="submit" value="Add">
        </form>
    }
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
