@model eSportsTracker.Models.Match

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TimePlayed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimePlayed)
        </dd>
    </dl>
</div>
<p>
    @ViewBag.winnerN
</p>
<tr>
    @ViewBag.winnerS
</tr>
<p>
    @ViewBag.loserN
</p>
    @ViewBag.loserS
</>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
