@model IEnumerable<eSportsTracker.Models.Match>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (Session["LoggedIn"] != null)
    {
        @Html.ActionLink("Create New", "Create")}
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TimePlayed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoloMatch.MatchID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamMatch.MatchID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TimePlayed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoloMatch.MatchID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamMatch.MatchID)
        </td>
        <td>
            @{
             if (Session["LoggedIn"] != null)
            {
                 @Html.ActionLink("Edit", "Edit", new { id = item.MatchID }) <text>|</text>
                 @Html.ActionLink("Details", "Details", new { id = item.MatchID }) <text>|</text>
                 @Html.ActionLink("Delete", "Delete", new { id = item.MatchID })
}

            }
        </td>
    </tr>
}

</table>
