@model IEnumerable<eSportsTracker.Models.MatchesView>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (Session["LoggedIn"] != null)
    {
        @Html.ActionLink("Create New", "Create")}
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MatchID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Winner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Loser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TournamentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameName)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MatchID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Winner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Loser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TournamentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameName)
        </td>
        <td>
            @{
            if (Session["LoggedIn"] != null)
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.MatchID }) <text>|</text>
                @Html.ActionLink("Details", "Details", new { id = item.MatchID }) <text>|</text>
                @Html.ActionLink("Delete", "Delete", new { id = item.MatchID })
        }

            }
        </td>
    </tr>
}

</table>
